/*================= CSS REFERENTE AO MENU SUPERIOR COM A SEPARAÇÃO ====================*/


  .bg-green {
    background: #329747;
  }
  
  .text-green {
    color: #329747;
  }
  

  
  .seperator {
    height: 3px;
    margin-top: 2px;
  }
  
 
  
  .pointer {
    cursor: pointer;
  }
  
 
  
  .nav-login {
    position: relative;
    padding-left: 70px;
    background: url(https://firebasestorage.googleapis.com/v0/b/cloud-functions-playground-01.appspot.com/o/Polygon%201.png?alt=media&token=ab8381b2-8c28-40ef-b33f-58a257b24b62);
    background-size: cover;
  }
  



  /*================= CSS REFERENTE AO MENU LATERAL ====================*/



  .sidebar {
    z-index: 1;
    position: fixed;
    top: 40px;
    left: 0px;
    width: 200px;
    bottom: 0px;
    background-color: #FF9717;
    -webkit-box-shadow: 1px 0px 16px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 16px 0px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease-in-out;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 30px;
}

.sidebar a {
    display: block;
    color: #FFFFFE;
    font-family: 'Karma', serif;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding: 0.2rem;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background-color: #3A3C42;
    text-decoration: none;
    color: #FFFFFE;
}

.sidebar i {
    padding: 0 10px;
    color: #141c3a;
    font-size: 1.2rem;
}


  
/* Welcome - Mensagem */

.welcome {
    color: rgb(233, 232, 232);
  }


  .welcome .content {
    background-color: #313348a8;
    padding: 10px;
    margin-bottom: 1%;
    border-radius: 3px;

  }

  .welcome p {
    color: #999;
  }
  


  .main-content {
    position: relative;
    padding: 0.5rem;
    margin-top:5%;
    left: 100px;
    right: -50px;
  }
  
  @media only screen and (max-width: 991px) {
    .vertical-navbar {
      transform: translateX(-100%);
      position: absolute;
      padding: 0;
      transition: all 0.3s ease-in-out;
      box-shadow: none;
      z-index: 30;
    }
  
    .vertical-navbar.expanded {
      transform: translateX(0);
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      box-shadow: none;
    }
  
    .overlay-main {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 10;
      transition: height 0.3s ease-in-out;
    }
  }
  
  .dashboard-grid {
    display: flex;
flex-wrap: ;
    grid-template-areas:
      "welcome welcome welcome welcome welcome welcome customers-gained customers-gained customers-gained orders-received orders-received orders-received"
      "general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats"
      "session-stats session-stats session-stats session-stats session-stats session-stats revenue-stats revenue-stats revenue-stats revenue-stats revenue-stats revenue-stats"
      "booking-stats booking-stats booking-stats booking-stats sales-stats sales-stats sales-stats sales-stats activity-timeline activity-timeline activity-timeline activity-timeline"
      "dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders ";
  }
  

  
  @media only screen and (min-width: 768px) {
    .profile-pic-dashboard {
      width: 120px;
      height: 120px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .profile-pic-dashboard {
      width: auto;
      height: auto;
      max-height: 100%;
    }
  
    .welcome-text {
      letter-spacing: 0.1rem;
    }
  }
  

  .general-stats {
    grid-area: general-stats;
  }
 
  

  
  @media only screen and (max-width: 576px) {
    .dashboard-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "welcome"
        "customers-gained"
        "orders-received"
        "general-stats"
        "session-stats"
        "revenue-stats"
        "booking-stats"
        "sales-stats"
        "activity-timeline"
        "dispatched-orders";
    }
  }
  


  
  @media only screen and (min-width: 992px) {
    .general-stat-icon {
      height: 60px;
    }
  }
  
  .stat-group:not(:last-child):after {
    content: "";
    width: 2px;
    height: 75px;
    background: #eee;
  }
  
  @media only screen and (max-width: 576px) {
    .general-stat-grid {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  
    .general-stat-icon {
      height: 100px;
    }
  
    .stat-group:not(:last-child):after {
      content: none;
    }
  }

  
  .stat-title {
    margin: 20px;
  }


  @media only screen and (min-width: 678px) {
    .session-stat-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .dashboard-link {
    color: rgb(31, 31, 31);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(240, 255, 243);
    -moz-box-shadow: 0px 0px 10px 0px rgb(178, 180, 178);
    box-shadow: 0px 0px 10px 0px rgb(145, 156, 147);
    background-color: rgb(87, 87, 87);
  }
  

  

  .nav-item-group-header {
    font-size: 12px;
  }
  
 
  
  

  .dispatched-orders table th {
    border-bottom: none;
  }
  
  .dispatched-orders table td {
    border-top: none;
  }
  
  .dispatched-orders table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .dispatched-orders table tbody tr:hover {
    transform: scale(1,1) translateY(-5px);
    -webkit-transform: scale(1,1) translateY(-5px);
    -moz-transform: scale(1,1) translateY(-5px);
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  }
  

  
  /* Start statistics */
.statistics {
    margin-top: 25px;
    color: #CCC;
  }
  .statistics .box {
    background-color: #313348;
    padding: 15px;
    overflow: hidden;
  }
  .statistics .box > i {
    float: left;
    color: #FFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
  }
  .statistics .box .info {
    float: left;
    width: auto;
    margin-left: 10px;
  }
  .statistics .box .info h3 {
    margin: 5px 0 5px;
    display: inline-block;
  }
  .statistics .box .info p {color:#BBB}
  


  /* Tabela do dashboard */

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(161, 161, 161, 0.705);
  }



  



  