body {
    font-family: "Open Sans", sans-serif;
    background: rgb(246, 244, 247);
    /*   overflow-y: hidden; */
  }
  
  body.modal-open {
    padding-right: 0px !important;
  }
  
  main {
    margin-top: 135px;
  }
  
  body * {
    font-family: inherit;
  }
  
  label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
  }
  
  .multiselect__tag,
  .multiselect__option--highlight,
  .multiselect__option--highlight::after,
  .multiselect__tag-icon:hover {
    background: #1e91cf !important;
  }
  
  [v-cloak] {
    display: none;
  }
  
  .modal-content {
    border-radius: 30px;
  }
  
  .navbar-light {
    background: #fff;
  }
  
  .raised {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }
  
  .border-green {
    border-bottom: 3px solid #329747;
  }
  
  /*================= HOMEPAGE STYLES START ====================*/
  .bg-blue {
    background: #181949;
  }
  
  .text-blue {
    color: #181949;
  }
  
  .bg-blue-accent {
    background: rgb(12, 33, 80);
  }
  
  .bg-green {
    background: #329747;
  }
  
  .text-green {
    color: #329747;
  }
  
  .pb-thin {
    padding-bottom: 2px;
  }
  
  .seperator {
    height: 3px;
    margin-top: 2px;
  }
  
  .icon-wrapper {
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .icon-wrapper.dark {
    border: 2px solid #000;
    background: #000;
    color: #fff;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .nav-item .nav-link {
    color: #000 !important;
  }
  
  .nav-item .nav-link:hover {
    color: #383838 !important;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #329747;
  }
  
  .divider {
    height: 15px;
    border-right: 2px solid #383838;
  }
  
  .nav-login {
    position: relative;
    padding-left: 70px;
    background: url(https://firebasestorage.googleapis.com/v0/b/cloud-functions-playground-01.appspot.com/o/Polygon%201.png?alt=media&token=ab8381b2-8c28-40ef-b33f-58a257b24b62);
    background-size: cover;
  }
  



  @media only screen and (max-width: 991px) {
    .rotate90 {
      transform: rotate(90deg);
    }
  }
  
  @media only screen and (max-width: 767px) {
    main {
      margin-top: 100px;
    }
    .contact-banner {
      font-size: 11px;
    }
    .brand-logo {
      width: 75%;
      height: 75%;
    }
  
    .step-label {
      text-align: center;
    }
  
    .swiper-container {
      width: 100%;
      height: 600px;
    }
  
    .font-sm-mobile {
      font-size: 13px;
    }
  
    .banner {
      padding: 30px;
    }
  }
  

  
  @media only screen and (min-width: 768px) {
    .get-it-painted {
      padding: 40px;
    }
  
    .get-it-painted-title {
      text-align: justify;
      text-align-last: center;
    }
  }
  
  @media only screen and (min-width: 769px) {
    .navbar-brand {
      margin-left: 50px;
    }
  
    .get-it-painted {
      transform: translateX(170px);
    }
  
    .about-us {
      border-left: 3px solid #329747;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .get-it-painted {
      transform: translateX(240px);
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .navbar-brand {
      margin-left: 100px;
    }
  }
  
  

  .vertical-navbar {
    width: 220px;
    background: rgb(247, 245, 245);
    height: 100%;
    -webkit-box-shadow: 1px 0px 16px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 16px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: width 0.3s ease-in-out;
  }
  
  .inner {
    position: relative;
    height: auto;
  }


  .sidebar {
    background-color: #FF9717;
    min-width: 200px;
    max-width: 200px;
    transition: 0.6s;
    transition-property: left;
}

.sidebar a {
    display: block;
    color: #FFFFFE;
    font-family: 'Karma', serif;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding: 0.2rem;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background-color: #3A3C42;
    text-decoration: none;
    color: #FFFFFE;
}

.sidebar i {
    padding: 0 10px;
}

/* Responsivo */

@media(max-widht: 768px) {
    #sidebar {
        margin-left: -200px;
        background-color: blue;
    }
    #sidebarCollapse span {
        display: none;
    }
}
  
/* Welcome - Mensagem */

.welcome {
    color: rgb(233, 232, 232);
  }


  .welcome .content {
    background-color: #313348a8;
    padding: 10px;
    margin-bottom: 1%;
    border-radius: 3px;

  }

  .welcome p {
    color: #999;
  }
  


  .main-content {
    overflow-y: auto;
    flex-grow: 1;
    position: relative;
    padding: 0.5rem;
    margin-top:5%;
  }
  
  @media only screen and (max-width: 991px) {
    .vertical-navbar {
      transform: translateX(-100%);
      position: absolute;
      padding: 0;
      transition: all 0.3s ease-in-out;
      box-shadow: none;
      z-index: 30;
    }
  
    .vertical-navbar.expanded {
      transform: translateX(0);
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      box-shadow: none;
    }
  
    .overlay-main {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 10;
      transition: height 0.3s ease-in-out;
    }
  }
  
  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "welcome welcome welcome welcome welcome welcome customers-gained customers-gained customers-gained orders-received orders-received orders-received"
      "general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats general-stats"
      "session-stats session-stats session-stats session-stats session-stats session-stats revenue-stats revenue-stats revenue-stats revenue-stats revenue-stats revenue-stats"
      "booking-stats booking-stats booking-stats booking-stats sales-stats sales-stats sales-stats sales-stats activity-timeline activity-timeline activity-timeline activity-timeline"
      "dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders dispatched-orders ";
    grid-gap: 15px;
  }
  

  
  @media only screen and (min-width: 768px) {
    .profile-pic-dashboard {
      width: 120px;
      height: 120px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .profile-pic-dashboard {
      width: auto;
      height: auto;
      max-height: 100%;
    }
  
    .welcome-text {
      letter-spacing: 0.1rem;
    }
  }
  

  .general-stats {
    grid-area: general-stats;
  }
 
  

  
  @media only screen and (max-width: 576px) {
    .dashboard-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "welcome"
        "customers-gained"
        "orders-received"
        "general-stats"
        "session-stats"
        "revenue-stats"
        "booking-stats"
        "sales-stats"
        "activity-timeline"
        "dispatched-orders";
    }
  }
  


  
  @media only screen and (min-width: 992px) {
    .general-stat-icon {
      height: 60px;
    }
  }
  
  .stat-group:not(:last-child):after {
    content: "";
    width: 2px;
    height: 75px;
    background: #eee;
  }
  
  @media only screen and (max-width: 576px) {
    .general-stat-grid {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  
    .general-stat-icon {
      height: 100px;
    }
  
    .stat-group:not(:last-child):after {
      content: none;
    }
  }

  
  .stat-title {
    margin: 20px;
  }


  @media only screen and (min-width: 678px) {
    .session-stat-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .dashboard-link {
    color: rgb(31, 31, 31);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(240, 255, 243);
    -moz-box-shadow: 0px 0px 10px 0px rgb(178, 180, 178);
    box-shadow: 0px 0px 10px 0px rgb(145, 156, 147);
    background-color: rgb(87, 87, 87);
  }
  

  
  .vertical-navbar a.nav-link.collapsed .lni-chevron-down {
    transform: rotate(-90deg);
  }
  
  .nav-item-group-header {
    font-size: 12px;
  }
  
  .vertical-navbar li.nav-item {
    transition: all 0.3s ease-in-out;
  }
  
  .vertical-navbar li.nav-item:hover {
    transform: translateX(5px);
  }
  
  

  .dispatched-orders table th {
    border-bottom: none;
  }
  
  .dispatched-orders table td {
    border-top: none;
  }
  
  .dispatched-orders table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .dispatched-orders table tbody tr:hover {
    transform: scale(1,1) translateY(-5px);
    -webkit-transform: scale(1,1) translateY(-5px);
    -moz-transform: scale(1,1) translateY(-5px);
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  }
  

  
  /* Start statistics */
.statistics {
    margin-top: 25px;
    color: #CCC;
  }
  .statistics .box {
    background-color: #313348;
    padding: 15px;
    overflow: hidden;
  }
  .statistics .box > i {
    float: left;
    color: #FFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
  }
  .statistics .box .info {
    float: left;
    width: auto;
    margin-left: 10px;
  }
  .statistics .box .info h3 {
    margin: 5px 0 5px;
    display: inline-block;
  }
  .statistics .box .info p {color:#BBB}
  