*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* Menu --- NAVBAR  */

h1{
    text-align: center;
    padding: 5% 0;
    font-size: 85px;
    font-family: 'Overlock', cursive;    
    color: #3A3C42;
    
}

p{
    font-family: 'Karma', serif;
}



li , a  {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

header{
  
height:auto;
width: 100%;
background-image: url("../../assets/Grupo\ 1.jpg"); 
background-size: cover;
transition: 3s;

    
}


header:hover{
    background-position: center left;
}

.navbar{
    display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 20px 0;
}


.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

a{
    transition: all 0.3s ease 0s;
    color: #FFFFFE;
}






@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width: 858px){
    .checkbtn{
        display: block;
    }
}


/* Cards inicias */
.objetivo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    background-image: url('../../assets/designecologist-hWhkVavh-EQ-unsplash.jpg');
    background-size: cover;
    border-bottom: 1px solid #FF9717;


}

.objetivo .card{
    max-width: 350px ;
    height: auto;
    background-color: #fffffec2;
    border: 1px solid #FF9717;
    border-radius: 3px;
    padding: 20px ;
    margin: 0 1px;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2); 
    transition: 0.5s;

}

.objetivo .card p{
    text-align: justify;
    font-size: 15px;
}

.objetivo .title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.objetivo .title h2{
    font-family: 'Josefin Slab', serif;
font-size: 30px;
color: #3A3C42;
}

.objetivo .title img{
    width: 60px;
}

/* Cards Objetivo */
.conceito{
    display: flex;
    max-width: 1150px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 0;

}

.conceito .card{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #FFFFFE;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2); 
    transition: 0.5s;
}

.conceito .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #3A3C42;
    clip-path: circle(180px at center 0);
    text-align: center;
    
}


.conceito .card .circle h2{
  color: #FFFFFE;
  padding: 20px 0;
  font-family: 'Josefin Slab', serif;
  font-size: 32px;
  text-align: center;
    
}

.conceito .card .content{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.conceito .card .content p{
    color: #3A3C42;
    font-size: 14px;
}


.conceito .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 15px;
    background-color: #3A3C42;
    color: #FFFFFE;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
}

.conceito .card:nth-child(1) .circle , 
.conceito .card:nth-child(1) .content a{
    background-color: #FF9717;
}

.conceito .card:nth-child(2) .circle , 
.conceito .card:nth-child(2) .content a{
    background-color: #3A3C42;
}


.conceito .card:nth-child(1) .circle , 
.conceito .card:nth-child(1) .content a:hover{
    background-color: #3A3C42;
    transition: 0.5s;

}

.conceito .card:nth-child(2) .circle , 
.conceito .card:nth-child(2) .content a:hover{
    background-color: #FF9717;
    transition: 0.5s;

}

/* SECTION - PRODUTOS --- */
.produtos{
    display: grid;
    grid-template-columns: repeat(6, 1rf);
    grid-auto-rows: minmax(250px,auto);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    margin: 10% 0;
}

.produtos div{
    background-color:blue ;
    padding: 10px;
}


.one{
    grid-column: 1/3;
    grid-row: 1/5;
}

.produtos h2{
    font-family: 'Josefin Slab', serif;
    font-size: 42px;
    color: #3A3C42;
    text-align: center;
}


