/* ---------------------------------- Reset --------------------------------- */

h1,
h2,
h3,
p,
ul,
* {
    padding: 0;
    margin: 0;
}

li,
a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    position: relative;
}

img {
    width: 100%;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/* ----------------------------- Header ---------------------------- */

header h1 img {
    width: 200px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.header-container img {
    position: relative;
}

.header-info {
    display: flex;
    position: absolute;
    left: 35%;
    top: 35%;
    flex-direction: column;
}

.header-info p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    width: 500px;
    color: white;
}

.header-info a {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 25px;
    padding: 10px 45px;
    color: white;
    background: #141C3A;
    align-self: center;
}

/* ----------------------------- Nossos Produtos ---------------------------- */

.sc-nossosProds h2 {
    font-family: 'Mukta', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.nossoProds-info {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.produto p {
    position: absolute;
    top: 40%;
    left: 30%;
    font-family: 'Mukta', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    z-index: 1;
}

.produto img {
    position: relative;
    width: 180px;
    height: 180px;
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #141C3A;
    z-index: 0;
}

/* ------------------------------ Diferenciais ------------------------------ */

.sc-diferenciaisBg {
    background-color: #141C3A;
}

.sc-diferenciais {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sc-diferenciais h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    color: #DDC89B;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.sc-diferenciais-info {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.diferenciais span {
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
}

.diferenciais span::after {
    content: '';
    display: block;
    width: 140px;
    border-bottom: 2px solid #DDC89B;
    margin-top: 8px;
    margin-bottom: 8px;
}

.diferenciais p {
    font-family: 'Quicksand', sans-serif;
    width: 350px;
    font-size: 1rem;
    line-height: 25px;
    color: #fff;
}

/* -------------------------------- Nosso App ------------------------------- */

.sc-nossoApp {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: space-between;
    align-items: center;
}

.sc-nossoApp-info h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

.sc-nossoApp-info h3::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 30px;
    border-bottom: 3.5px solid #141C3A;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sc-nossoApp-info p {
    font-family: 'Quicksand', sans-serif;
    width: 550px;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
}

.sc-nossoApp img {
    width: 500px;
}

/* --------------------------------- Footer --------------------------------- */

.footerBg {
    background-color: #141C3A;
}

.footer-container {
    padding: 60px 0;
}

.footer-logo {
    width: 200px;
    margin-bottom: 30px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.ftRedes-sociais span,
.ftContato span,
.ftEndereco span {
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
}

.ftRedes-sociais span::after,
.ftContato span::after,
.ftEndereco span::after {
    content: '';
    display: block;
    width: 140px;
    border-bottom: 2px solid #DDC89B;
    margin-top: 8px;
    margin-bottom: 8px;
}

.ftRedes-sociais p,
.ftContato p,
.ftEndereco p {
    font-family: 'Quicksand', sans-serif;
    width: 350px;
    font-size: 1rem;
    line-height: 25px;
    color: #fff;
}

.ftRedes-sociais img {
    width: 40px;
}

.ftContato input {
    width: 250px;
    height: 25px;
    margin: 5px 0;
}